/* General Styles */
body {
  font-family: Arial, sans-serif;
  background: url(images/istockpasta2-1166258781-612x612.jpg);
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
  z-index: 1;
}

.navbar-brand a h1 {
  margin-left: 0;
  font-family: "Abril Fatface", cursive;
  font-weight: bolder;
  font-size: 2.5em;
  font-family: "WindSong", cursive;
  color: white;
}

nav ul {
  border: 1px solid #fff;
  padding: 0;
  display: flex;
  width: 700px;
  float: right;
  align-items: center;
}

nav a {
  font-style: italic;
  display: block;
  flex-direction: row;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}
#header-nav {
  background: none;
  border-radius: 0;
  border: 0;
}

#header-nav button {
  margin-top: 22px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: white;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 76px;
  height: 76px;
  padding-top: 0;
}

.navbar-brand a:hover {
  text-decoration: none;
}

#nav-list {
  background-color: #e4af34;
}

#nav-list a {
  /*text-align: center;*/
  font-weight: bolder;
  color: #282828;
  font-size: 1.2em;
}

#nav-list a:hover {
  color: #202020;
  background-color: #fce29e;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #7d1913;
}
.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tablink {
  background-color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.tabcontent ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabcontent li {
  margin: 0.5rem 0;
}

#about-restaurant {
  margin-top: 20px;
  color: grey;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  background-color: white;
}

main {
  margin-top: 5rem;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

p {
  margin: 0.5rem 0;
}

/* Location Styles */
iframe {
  display: block;
  margin: 0 auto;
}

/* Photos Styles */
.gallery {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.gallery img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}
#about-restaurant {
  color: #ffff;
  max-width: fit-content;
}

/* Responsive Styles */
@media only screen and (max-width: 375px) {
  header {
    padding: 0.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    border: 1px solid black;
  }

  nav a {
    padding: 0;
  }

  main {
    margin-top: 3rem;
    padding: 1rem;
  }

  iframe {
    max-width: 100%;
    height: 200px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0.5rem;
  }
  .gallery img {
    size: 2em;
    margin-left: 20px;
  }

  .tablink {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 778px) {
  header {
    padding: 0.9rem;
  }

  h1 {
    font-size: 2rem;
    margin-left: 0;
  }
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #800000;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours,
#address {
  font-size: 0.8em;
  line-height: 2;
  color: white;
  font-weight: bold;
}
#hours > span,
#address > span {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
}
#address p {
  color: #557c3e;
  font-size: 0.8em;
  line-height: 1.8;
  color: white;
  font-weight: bold;
}
#testimonials {
  margin-top: -30px;
  font-size: 0.5rem;
  font-style: italic;
  color: white;
  font-weight: bold;
}
#testimonials p:nth-child(1),
p:nth-child(2),
p:nth-child(3) {
  font-size: 0.8rem;
  margin-top: 25px;
  color: white;
  font-weight: bold;
}
.text-center {
  color: black;
  font-style: italic;
  font-weight: bold;
}
